{% extends "silpa.html" %}

{% block modulescript %}
<script>
$(document).ready(function() {
    $("form").submit(function(event){
        event.preventDefault();
        var text= $("textarea[name=input_text]").val();
            jsonRequest = {
                method:  "ucasort.sort",
                params: [text],
                id: ""
            },
            id_progress = $("#progress"),
            id_error = $("#error"),
            id_result = $("#result");

        if(text !== "") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "JSONRPC",
                data: JSON.stringify(jsonRequest),
                dataType: "json",
                beforeSend:function(){
                    id_progress.html("Please wait...").show();
                    id_result.hide();
                    id_error.hide();
                },
                success: function(msg) {
                    id_progress.hide();
                    var resultobj =  msg.result,
                        silparesult = resultobj.SILPA,
                        ucaresult = resultobj.UCA,
                        output = $('<table>').
                            addClass('table table-bordered').
                            append($('<th>').text('UCA Result')).
                            append($('<th>').text('Modified UCA Result'));

                    $.each(silparesult, function(index, item) {
                        output.append($('<tr>')
                          .append($('<td>').text(ucaresult[index]))
                          .append($('<td>').text(item))
                        );
                    });
                    id_result.html(output).show();
                },
                error: function(msg) {
                    id_progress.hide();
                    id_error.html("Something went wrong.....").show()
                }
            });
        } else {
            id_result.hide();
            id_error.html("Enter text").show()
        }
    });
});
</script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Sort</h1>
</div>

<p><a href="http://unicode.org/reports/tr10/"> Unicode Collation Algorithm(UCA)</a>
based sorting for all languages defined in Unicode. The collation weights used in this application is a modified version of <a href="http://www.unicode.org/Public/UCA/6.0.0/allkeys.txt"> Default Unicode Collation Element Table (DUCET)</a>. You can download the modified version from <a href="modules/sort/allkeys-silpa-6.0.0.txt"> here (1 MB)</a>. The current version is modified only for Malayalam language. For other languages,it use the default weights defined by Unicode. Malayalam and Tamil sorting is compatible with GNU C library collation definition.</p>

<p>Enter the words to sort in the below textbox. Words will be splitted at 'space'. You can enter the text in any language. Text may contain multiple scripts too.</p>

<form class="form-horizontal">
    <div class="form-group">
        <textarea name='input_text' id='input_text' class="form-control ime"></textarea>
    </div>
    <div class="form-group">
        <input class="btn btn-default col-sm-3" type="submit" id="sort" value="Sort"/>
    </div>
</form>

<div id="progress" class="alert alert-info silpa-hide"></div>
<div id="error" class="alert alert-danger silpa-hide"></div>
<div id="result"></div>

{% endblock %}
